<!-- Admin Toolbar (hidden on product page) -->
<mat-toolbar class="app-toolbar" *ngIf="!isProductPage">
  <div class="toolbar-left">
    <button mat-icon-button (click)="toggleSidenav()" class="menu-btn">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">RunLoyal</span>
  </div>
  
  <span class="spacer"></span>

  <div class="toolbar-right">
    <mat-form-field appearance="outline" class="tenant-selector" *ngIf="tenants$ | async as tenants">
      <mat-label>Active Tenant</mat-label>
      <mat-select [value]="selectedTenantId" (selectionChange)="onTenantChange($event.value)">
        <mat-option *ngFor="let tenant of tenants" [value]="tenant.id">
          {{ tenant.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-toolbar>

<!-- Main Container -->
<mat-sidenav-container class="app-container" [class.full-screen]="isProductPage">
  <!-- Sidenav (Admin Sidebar) -->
  <mat-sidenav #sidenav 
               mode="over" 
               class="app-sidenav" 
               *ngIf="!isProductPage">
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/tenants" routerLinkActive="active-link">
        <mat-icon matListItemIcon>business</mat-icon>
        <span matListItemTitle>Tenants</span>
      </a>
      <a mat-list-item routerLink="/affiliates" routerLinkActive="active-link">
        <mat-icon matListItemIcon>people</mat-icon>
        <span matListItemTitle>Affiliates</span>
      </a>
      <a mat-list-item routerLink="/campaigns" routerLinkActive="active-link">
        <mat-icon matListItemIcon>campaign</mat-icon>
        <span matListItemTitle>Campaigns</span>
      </a>
      <a mat-list-item routerLink="/items" routerLinkActive="active-link">
        <mat-icon matListItemIcon>inventory_2</mat-icon>
        <span matListItemTitle>Products &amp; Services</span>
      </a>
      <a mat-list-item routerLink="/links" routerLinkActive="active-link">
        <mat-icon matListItemIcon>link</mat-icon>
        <span matListItemTitle>Link Generator</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content Area -->
  <mat-sidenav-content class="app-content">
    <div class="main-outlet" [class.no-padding]="isProductPage">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
